<!DOCTYPE html>

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
               
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <link href="{{ asset('/css/style.css') }}" rel="stylesheet" type="text/css" />
                <link href="{{asset('css/search2.css')}}" rel="stylesheet" type="text/css"/>
                <link href="{{asset('css/pages.css')}}" rel="stylesheet" type="text/css"/>
                
              
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />       
    </head>
    
    
    <body >        
            {% block header %}
                <div class ="header">
                    <a href="{{ path('homepage') }}" class="logo"></a>
                    
                    <div class="banner" style="background-image: url({{asset(background|default('Img/AHS.png'))}})">
                        
                        <div class="search">
                            <input type="text" class="form-control input-sm" maxlength="64" placeholder="Recherche" />
                            <button type="submit" class="btn glyphicon glyphicon-search"></button>
                        </div>
                        
                            
                        
                        <ul>
                            <li><a href="{{path('homepage')}}">Accueil</a></li>
                            <li><a href="{{path('serie_index')}}">Séries</a></li>
                            <li><a href="{{path('acteur_index')}}">Acteurs</a></li>
                            <li><a href="{{path('realisateur_index')}}">Réalisateurs</a></li>
                            <li><a href="{{path('serie_index')}}"/>Forum</a></li>
                         </ul>
                    </div>
                         
                   

                   {# <a href="{{path('utilisateur_index')}}" class="user">Enregistrez-vous</a>
                    <a href="{{path()}}" class="user">Connectez-vous</a>#}
                </div>
            {% endblock %} 
            
            <div class="latMenu">
                {% block menu %}
                {% endblock %}                    
            </div>            
            <div class="main">
                {% block body %}  
                    {% block label %}
                    {% endblock %}
                {% endblock %}                
            </div>       
        
        {% block javascripts %}{% endblock %}
    </body>

