{% extends '@App/base.html.twig' %}

{% block body %}
      {% block label %}
        <h1> Liste des Réalisateurs</h1>
    {% endblock %}
    

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomrealisateur</th>
                <th>Prenomrealisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for realisateur in realisateurs %}
            <tr>
                <td><a href="{{ path('realisateur_show', { 'id': realisateur.id }) }}">{{ realisateur.id }}</a></td>
                <td>{{ realisateur.nomRealisateur }}</td>
                <td>{{ realisateur.prenomRealisateur }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('realisateur_show', { 'id': realisateur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('realisateur_edit', { 'id': realisateur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('realisateur_new') }}">Ajouter un réalisateur</a>
        </li>
    </ul>
{% endblock %}
