{% extends '@App/base.html.twig' %}

{% block body %}
    <h1>Realisateur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ realisateur.id }}</td>
            </tr>
            <tr>
                <th>Nomrealisateur</th>
                <td>{{ realisateur.nomRealisateur }}</td>
            </tr>
            <tr>
                <th>Prenomrealisateur</th>
                <td>{{ realisateur.prenomRealisateur }}</td>
            </tr>
             <tr>
                <th>Photo</th>
                <td>{{ realisateur.photo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('realisateur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('realisateur_edit', { 'id': realisateur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
