{% extends '@App/base.html.twig' %}

{% block body %}
      {% block label %}
        <h1>Catégories </h1>
    {% endblock %}

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellegenre</th>
                <th>Ageconseille</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td><a href="{{ path('genre_show', { 'id': genre.id }) }}">{{ genre.id }}</a></td>
                <td>{{ genre.libelleGenre }}</td>
                <td>{{ genre.ageConseille }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('genre_show', { 'id': genre.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('genre_edit', { 'id': genre.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('genre_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
