{% extends '@App/base.html.twig' %}

{% block body %}
    <h1>Utilisateur list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomutilisateur</th>
                <th>Prenomutilisateur</th>
                <th>Pseudoutilisateur</th>
                <th>Mdputilisateur</th>
                <th>Mailutilisateur</th>
                <th>Datenaissance</th>
                <th>Photoprofil</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td><a href="{{ path('utilisateur_show', { 'id': utilisateur.id }) }}">{{ utilisateur.id }}</a></td>
                <td>{{ utilisateur.nomUtilisateur }}</td>
                <td>{{ utilisateur.prenomUtilisateur }}</td>
                <td>{{ utilisateur.pseudoUtilisateur }}</td>
                <td>{{ utilisateur.mdpUtilisateur }}</td>
                <td>{{ utilisateur.mailUtilisateur }}</td>
                <td>{% if utilisateur.dateNaissance %}{{ utilisateur.dateNaissance|date('Y-m-d') }}{% endif %}</td>
                <td>{{ utilisateur.photo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('utilisateur_show', { 'id': utilisateur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('utilisateur_edit', { 'id': utilisateur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('utilisateur_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
