{% extends '@App/default/index.html.twig' %}

{% block main %}
    <h1>Acteur list</h1>
   <ul>
        <li>
            <a href="{{ path('acteur_new') }}">Create a new entry</a>
        </li>
    </ul>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomacteur</th>
                <th>Prenomacteur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acteur in acteurs %}
            <tr>
                <td><a href="{{ path('acteur_index', { 'id': acteur.id }) }}">{{ acteur.id }}</a></td>
                <td>{{ acteur.nomActeur }}</td>
                <td>{{ acteur.prenomActeur }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('acteur_show', { 'id': acteur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('acteur_edit', { 'id': acteur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
