{% extends '@App/layout.html.twig' %}

{% block body %}
    {% block label %}
        <h1> Liste des Acteurs </h1>
    {% endblock %}
    
      <a class="btn icon-btn btn-success" href="{{ path('acteur_new') }}">Ajouter
          <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
      </a>
   
        <tbody>
            <ul class="list">
                {% for acteur in acteurs %}
                    <li>
                        
                        <a href="{{ path('acteur_show', { 'id': acteur.id }) }}" class="framelist" >              
                            {% if acteur.Photo !=null %}
                                 <img src="{{acteur.Photo}}" />
                              {% else %}
                                  <img src="{{asset('Img/avatar.gif')}}" />
                            {% endif %} 
                           
                            <div class="bg">                                
                                    {{ acteur.prenomActeur }}
                                    {{ acteur.nomActeur }}                                    
                            </div>             
                            
                              
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </tbody>
    </table>

    
          
      
{% endblock %}
