{% extends '@App/layout.html.twig' %}

{% block body %}
    <h1>Acteur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acteur.id }}</td>
            </tr>
            <tr>
                <th>Nomacteur</th>
                <td>{{ acteur.nomActeur }}</td>
            </tr>
            <tr>
                <th>Prenomacteur</th>
                <td>{{ acteur.prenomActeur }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ acteur.photo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('acteur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('acteur_edit', { 'id': acteur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
