{% extends '@App/layout.html.twig' %}

{% block body %}
    <h1>Episode</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Numeroepisode</th>
                <td>{{ episode.numeroEpisode }}</td>
            </tr>
            <tr>
                <th>Nomepisode</th>
                <td>{{ episode.nomEpisode }}</td>
            </tr>
            <tr>
                <th>Nomoriginalepisode</th>
                <td>{{ episode.nomOriginalEpisode }}</td>
            </tr>
            <tr>
                <th>Resumeepisode</th>
                <td>{{ episode.resumeEpisode }}</td>
            </tr>
             <tr>
                <th>Photo</th>
                <td>{{ episode.photo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('episode_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('episode_edit', { 'id': episode.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
