{% extends 'base.html.twig' %}

{% block body %}
    <h1>CritiqueUtilisateur list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellecritique</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for critiqueUtilisateur in critiqueUtilisateurs %}
            <tr>
                <td><a href="{{ path('critiqueutilisateur_show', { 'id': critiqueUtilisateur.id }) }}">{{ critiqueUtilisateur.id }}</a></td>
                <td>{{ critiqueUtilisateur.libelleCritique }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('critiqueutilisateur_show', { 'id': critiqueUtilisateur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('critiqueutilisateur_edit', { 'id': critiqueUtilisateur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('critiqueutilisateur_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
