{% extends '@App/layout.html.twig' %}

{% block body %}
    <h1>Producteur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ producteur.id }}</td>
            </tr>
            <tr>
                <th>Nomproducteur</th>
                <td>{{ producteur.nomProducteur }}</td>
            </tr>
            <tr>
                <th>Prenomproducteur</th>
                <td>{{ producteur.prenomProducteur }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ producteur.photo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('producteur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('producteur_edit', { 'id': producteur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
