{% extends '@App/base.html.twig' %}

{% block body %}
      {% block label %}
        <h1> Liste des Séries </h1>
    {% endblock %}
      <a class="btn icon-btn btn-success" href="{{ path('serie_new') }}">Ajouter
          <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
      </a>
   
        <tbody>
            <ul class="list">
                {% for serie  in series %}
                    <li>
                        <a href="{{ path('serie_show', { 'id': serie.id }) }}" class="framelist"  style="background-image: url({{asset('Img/background.png')}})">
                            <div class="bg">                    
                                    {{ serie.nomOriginalSerie }}
                                    
                            </div> 
                               <div class="synopsis">
                                <span >
                                    {{ serie.synopsisSerie }}
                                </span>
                            </div>
                             {% if serie.photo !=null %}
                                 <img src="{{serie.photo}}" />
                              {% else %}
                                  <img src="{{asset('Img/background.png')}}" />
                            {% endif %} 
                            
                         
                               
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </tbody>       
{% endblock %}
