{% extends '@App/default/index.html.twig' %}

{% block main %}
    <h1>Serie list</h1>
    <ul>
        <li>
            <a href="{{ path('serie_new') }}">Create a new entry</a>
        </li>
    </ul>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomserie</th>
                <th>Nomoriginalserie</th>
                <th>Synopsisserie</th>
                <th>Resumeserie</th>
                <th>Anneeprodserie</th>
                <th>Posterserie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for serie in series %}
            <tr>
                <td><a href="{{ path('serie_show', { 'id': serie.id }) }}">{{ serie.id }}</a></td>
                <td>{{ serie.nomSerie }}</td>
                <td>{{ serie.nomOriginalSerie }}</td>
                <td>{{ serie.synopsisSerie }}</td>
                <td>{{ serie.resumeSerie }}</td>
                <td>{% if serie.anneeProdSerie %}{{ serie.anneeProdSerie|date('d-m-Y') }}{% endif %}</td>
                <td>{{ serie.posterSerie }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('serie_show', { 'id': serie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('serie_edit', { 'id': serie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
